<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.NLog.Fody" version="4.6.7" targetFramework="net462" />
  <package id="Costura.Fody" version="3.1.4" targetFramework="net462" />
  <package id="FastMember" version="1.4.1" targetFramework="net462" />
  <package id="FileHelpers" version="3.3.0" targetFramework="net462" />
  <package id="FileHelpers.Analyzer" version="1.1.0.0" targetFramework="net462" />
  <package id="Fody" version="3.2.9" targetFramework="net462" developmentDependency="true" />
  <package id="GenericParsing" version="1.2.0" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net462" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net462" />
</packages>