<!-- 
  File VOID_CONNECTIONS.CONFIG
  Per poter interagire con un database SQL Server, è necessario eseguire le seguenti operazioni:
  1. Rinominare il file in CONNECTIONS.CONFIG;
  2. Inserire nel tag <connectionStrings> una o più stringhe di connessione, in uno dei formati seguenti:
  
  <add name="Whatever" connectionString ="Server=Your Server;Database=Your database;Trusted_Connection=yes;" providerName="System.Data.OleDb"/>
  
  <add name="Whatever" connectionString="Server=Your Server;Database=Your database;User=Database user;Password=the password, if you wish;" providerName="System.Data.OleDb"/>

  Naturalmente, gli esempi riportati non esauriscono tutte le possibilità... ma, niente stringa di connessione, niente database... :)
-->

<connectionStrings>
  
</connectionStrings>